In [1]:
import numpy as np
import pandas as pd
import os
import pymysql
import pandas as pd

from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler

In [31]:
host = os.getenv('MYSQL_HOST')
port = os.getenv('MYSQL_PORT')
user = os.getenv('MYSQL_USER')
password = '12345678'#os.getenv('MYSQL_PASSWORD')
database = os.getenv('MYSQL_DATABASE')

conn = pymysql.connect(
    host='192.168.0.102',
    port=int(3306),
    user='root',
    passwd = 'root',
    db = "hackathon",
    charset='utf8mb4')

cursor = conn.cursor()

In [32]:
x = pd.read_sql_query('SELECT * from receives', conn)
x

,id,user_id,notiifcation_type,parent_id,cat_id,item_id,is_clicked,schedule_notification,created_at
0,5,377,a,1,1,1,0,193481016718,1
1,6,377,a,2,2,1,1,194049010318,1
2,7,377,a,1,1,1,0,193481016718,1
3,8,377,a,2,2,1,1,194049010318,1
4,9,377,Holiday Promotions,2,4,4063,0,193481016718,1
5,10,377,Holiday Promotions,2,2,4063,1,194049010318,1
6,11,377,Holiday Promotions,2,4,4063,0,193481016718,1
7,12,377,Holiday Promotions,2,2,4063,1,194049010318,1
8,13,1,Holiday Promotions,2,4,4063,0,193481016718,1
9,14,1,Holiday Promotions,2,2,4063,1,194049010318,1
10,15,1,Holiday Promotions,2,4,4063,0,193481016718,1
11,16,1,Holiday Promotions,2,2,4063,1,194049010318,1
12,17,1,Holiday Promotions,2,4,4063,0,193481016718,1
13,18,1,Holiday Promotions,2,2,4063,1,194049010318,1
14,19,1,Holiday Promotions,2,4,4063,0,193481016718,1
15,20,1,Holiday Promotions,2,2,4063,1,194049010318,1
16,21,1,Holiday Promotions,2,4,4063,0,193481016718,1
17,22,1,Holiday Promotions,2,2,4063,1,194049010318,1
18,23,1,Holiday Promotions,2,4,4063,0,193481016718,1
19,24,1,Holiday Promotions,2,2,4063,1,194049010318,1
20,25,1,Holiday Promotions,2,4,4063,0,193481016718,1
21,26,1,Holiday Promotions,2,2,4063,1,194049010318,1
22,27,1,Holiday Promotions,2,4,4063,0,193481016718,1
23,28,1,Holiday Promotions,2,2,4063,1,194049010318,1
24,29,1,Holiday Promotions,2,4,4063,0,193481016718,1
25,30,1,Holiday Promotions,2,2,4063,1,194049010318,1
26,31,1,Holiday Promotions,2,4,4063,0,117775867918,1
27,32,1,Holiday Promotions,2,4,4063,0,117775867918,1
28,33,1,Holiday Promotions,2,4,4063,0,193481016718,1
29,34,1,Holiday Promotions,2,4,4063,0,193481016718,1
30,35,1,Holiday Promotions,2,4,4063,1,117775867918,1
31,36,1,Holiday Promotions,2,2,4063,1,117775867918,0

In [23]:
def update_dumps(user_id, parent_id, category_id, val) :
    if val == 1 :
        sql = "update dumps set {0} = {1} + 0.02 where userid={2}"
        cat = str(parent_id) + "_" + str(category_id)
        print(cat)
        sql = sql.format(cat, cat, user_id)
        cursor.execute(sql)
    if val == 0 :
        sql = "update dumps set {0} = {1} - 0.01 where userid={2}"
        cat = str(parent_id) + "_" + str(category_id)
        print(cat)
        sql = sql.format(cat, cat, user_id)
        cursor.execute(sql)
    sql2 = "update receives set created_at = '1' where user_id = " + str(user_id);
    cursor.execute(sql2)
    conn.commit()

In [33]:
host = os.getenv('MYSQL_HOST')
port = os.getenv('MYSQL_PORT')
user = os.getenv('MYSQL_USER')
password = '12345678'#os.getenv('MYSQL_PASSWORD')
database = os.getenv('MYSQL_DATABASE')

conn = pymysql.connect(
    host='192.168.0.102',
    port=int(3306),
    user='root',
    passwd = 'root',
    db = "hackathon",
    charset='utf8mb4')

cursor = conn.cursor()


# get rows that are not updated into the dumps table
receives = pd.read_sql_query('SELECT * FROM receives where created_at = 0 ', conn)

sql = "update dumps set {0} = {1} + 0.02 where userid={2}"
# update dumps
for r in range(len(receives)) :
    clicked = int(receives.iloc[r]['is_clicked'])
    parent = int(receives.iloc[r]['parent_id'])
    category = int(receives.iloc[r]['cat_id'])
    user_id = int(receives.iloc[r]['user_id'])
    update_dumps(user_id, parent, category, clicked)

2_2